.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--padding-desktop);
  width: 100%;
}

.containerFull {
  width: 100%;
  padding: 0 var(--padding-desktop);
}

@media (max-width: 768px) {
  .container,
  .containerFull {
    padding: 0 var(--padding-mobile);
  }
}